@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@layer theme {
  p .iconify {
    display: inline-block;
    margin-right: --spacing(1);
    width: 1em !important;
    height: 1em !important;
    transform: translateY(-1px);
  }
}
