@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant all (&);

@layer components {
  :where(.h-content) p .iconify {
    display: inline-block;
    margin-inline-end: --spacing(1);
    inline-size: 1em;
    block-size: 1em;
    transform: translateY(-1px);
  }
}
